<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<system.web>
		<compilation defaultLanguage="c#" debug="true"/>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="*.jpg_GET" path="*.jpg" verb="GET" type="SnakeSessionsHttpHandler.ImageHandler,SnakeSessionsHttpHandler" preCondition="integratedMode,runtimeVersionv2.0"/>
		</handlers>
		<defaultDocument>
			<files>
				<clear/>
				<add value="Default.asp"/>
				<add value="Default.htm"/>
				<add value="index.htm"/>
				<add value="index.html"/>
				<add value="iisstart.htm"/>
				<add value="default.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
