vti_encoding:SR|utf8-nl
vti_author:SR|PAYTONROSE\\nick
vti_modifiedby:SR|PAYTONROSE\\nick
vti_timelastmodified:TR|15 Sep 2004 06:12:45 -0000
vti_timecreated:TR|15 Sep 2004 06:12:45 -0000
vti_lineageid:SR|{42700364-F2D4-49BA-AFD4-38D7000B0219}
vti_cacheddtm:TX|15 Sep 2004 06:12:45 -0000
vti_filesize:IR|4443
vti_extenderversion:SR|5.0.2.5012
vti_backlinkinfo:VX|
